<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Usertracking.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Usertracking.Properties.Settings>
            <setting name="SeatedModeOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoHideMenu" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MouseControlOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MonitorWidth" serializeAs="String">
                <value>53.3</value>
            </setting>
            <setting name="MonitorHeight" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="CamPosX" serializeAs="String">
                <value>26.5</value>
            </setting>
            <setting name="CamPosY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="minMouth4MouseClick" serializeAs="String">
                <value>0.4</value>
            </setting>
            <setting name="MonitorName" serializeAs="String">
                <value />
            </setting>
            <setting name="EnableMouseControl" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseHorizErrorCorrection" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinHorizErrorThrsh" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaxHorizErrorThrsh" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UseVertErrorCorrection" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinVertErrorThrsh" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaxVertErrorThrsh" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CorrectFacePositionX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CorrectFacePositionY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CorrectFacePositionZ" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CorrectFaceOrientationX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CorrectFaceOrientationY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CorrectFaceOrientationZ" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SetKinectElevationAngle" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CorrectCursorX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CorrectCursorY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="minEyebrow4MouseClick" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="UseEyeBrowClick" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseMouthClick" serializeAs="String">
                <value>True</value>
            </setting>
        </Usertracking.Properties.Settings>
    </userSettings>
</configuration>